/*
#173E43 Blue
#3FB0AC Light Blue
#FAE596 Beige
#DDDF24 Gri
*/
body {
	margin:0px;
	padding:0px;
}

#header {
background: #13D7F0;
margin: -20px auto 20px auto;
}   

#content {
	background: #FAE596;
	min-height: 400px;
	margin: 0px auto 0px auto;
	width: 1500px;
	padding: 30px 20px 30px 20px; 
	font-family:Arial;
	font-size: 30pt;

}

#footer {
    background: #1FB0AC;
    text-align: center;
    height: 100%;
    border: black 3px dotted;
    font-size: 20pt;
    margin: 120px auto 20px auto;


}