/*
#173E43 Blue
#3FB0AC Light Blue
#FAE596 Beige
#DDDF24 Gri
*/
body {
	margin:0px;
	padding:0px;
}

#header {
	background: #173E43;
    width: 500px; 
}   

#content {
	background: #FAE596;
	min-height: 12px;
}

#footer {
	background: #3FB0AC;
    padding: 32px;
    margin: 150px;
    text-align: center;
    height: 10%;
    border: black 3px solid;
}